# Django + deployment essentials
Django==6.0.3
gunicorn==20.1.0
whitenoise==6.12.0
django-cors-headers==4.9.0
dj-database-url==3.1.2
python-dotenv==1.2.2

# Google Gemini / GenAI SDK
google-genai==1.67.0
langchain-google-genai==0.0.3   # pinned to a compatible lightweight version

# LangChain ecosystem
langchain==1.41.0
langchain-community==0.0.196
langchain-chroma==0.1.22

# Chroma vector DB + SQLite Fix for Render
chromadb==1.5.5
pysqlite3-binary==0.4.2

# DB adapter
psycopg2-binary==2.9.11

# Utils
requests>=2.31.0
setuptools==70.0.0